*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5% ;
}
:root{
    --yellow-star: #ffff00;
    --blue-star:#4241ff;
    --whrite-star:#fdffff;
   
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
.header--figure-container{
    display: flex;
    justify-content: space-between;
    height: 75px;
}
.header-logoStarsEventos{
    width: 150px;
    height: 65px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 10px;
}
.header-iconMobileMenu{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;

}
header nav{
    background: var(--whrite-star);

}