*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5% ;
    font-family: 'Quicksand', sans-serif;
}
:root{
    --yellow-star: #ffff00;
    --blue-star:#4241ff;
    --celeste-star:#33D1FF ;
    --whrite-star:#fdffff;
    --black: #000000;
    --gray: #C7C7C7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    width: 100vw;
}
.inactive{
    display: none;
}
.header--figure-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60px;

}
.header-logoStarsEventos{
    width: 150px;
    height: auto;
/*     object-fit: cover; */
    margin: 5px;
}
.header-iconMobileMenu{
    width: 25px;
    height: auto;
    margin: 10px;

}
header nav{
    background-image: url(./logos/fondo-amarillo.png) ;
    background-repeat: no-repeat;
/*     background-position: center; */
    background-size: cover;
    box-shadow: 0px 0px 40px gray;

}

/* menú lista mobile */
.header__lisElement-mobileMenu{
    position: absolute;
    background: var(--whrite-star);
    padding: 20px;
    width: 100%;
    height: 100vh;
    border: 3px solid var(--gray);
    border-radius: 6px;
}
.header__lisElement-mobileMenu:nth-child(2){
    display: flex;
    align-items: baseline;

}
.header__lisElement-mobileMenu ul li{
    list-style: none;
    padding-bottom: 20px;  
}
.header__lisElement-mobileMenu ul li a{
    text-decoration: none;
    display: inline-block;
    color: var(--black);
    font-weight: bold;
}

.header__lisElement-mobileMenu ul li:nth-child(5) {
    border-bottom: 3px solid var(--gray);
}
#header__lisElement-mobileMenuSingOut{

    margin-top: 25px;
    display: inline-block;
    position: absolute;
    align-items: baseline; 
}
/* body */
/* ::::main__container-description::: */
.main__container-description{
    width: 100vw;
    height: 600px;
    min-width: 288px;
    max-width: 900px;
}
.main__container-description h1{
    margin: 20px auto;
    width: 300PX;
    height: 50px;    
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    align-self: center;
}
.main__container-description figure img{
    display: flex;
    width: 200px;
    margin: 25px auto;
    border-radius: 30px;
}
.main__container-description figure p{
    margin: 0px auto;
    padding: 0px 10px;
    font-size: var(--sm);
    line-height: 2rem;
    text-align: center;
}


/* main__containerSlide-services */
/* .main__containerSlide-services{
    width: 100vw;
    height: 700px;
    min-width: 288px;
    max-width: 900px;
}
.main__containerSlide-services-title{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 20px;
}
.main__containerSlide-services-title h1{
    font-size: var(--lg);
    font-weight: bold; 
} 
.main__container-servicesSlide-contens{
    width: 100%;
    height: 650px;
    margin-top: 30px;
    min-width: 288px;
    max-width: 900px;
}
.main__container-servicesSlide-contens h2{
    margin: 10px;
    width: 100vw;    
    text-align: center;
    height: 20px;
    font-size: var(--md);
}
.main__container-servicesSlide-contens figure{
    display: flex;
    justify-content: center;
}
.main__container-servicesSlide-contens figure img{
    margin: 0 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}    
.main__container-servicesSlide-contens p{
    margin: 0px auto;
    padding: 0px 10px;
    height: 460px;
    font-size: var(--sm);
    line-height: 2rem;
    text-align: center;
} */
/* Slider Services */
.main__containerSlide-services{
    width: 90%;
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden; /* todo lo que se sale del contenedor se esconde */
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}
.slider{
    background-color: var(--whrite-star);
    padding: 40px 0;
}
.main__containerSlide-body{
    grid-column: 2/3 ;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: var(--whrite-star);
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}
.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}
.main__containerSlider-texts{
    max-width: 600px;
}
.main__containerSlide-title{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.main__containerSlider-description{
    font-weight: 300;
    font-size: 20px;
    line-height: 2.6rem;
}
.main__containerSlide-img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.Slider__arrow{
    cursor: pointer;
    width: 90%;
}
.Slider__arrow:nth-of-type(2){
    justify-self: end;
}